.search {
    position: absolute;
    top: 38px;
    input {
        border: 1px solid #f1f7f8;
        position: absolute;
        width: 350px;
        height: 40px;
        left: 585px;
        padding: 5px 12px;
        background: rgba(229, 241, 240, 0.52);
        border-radius: 5px;
        cursor: pointer;
        &:hover {
            background: rgba(207, 240, 237, 0.52);
            border: 1px solid #f1f7f8;
        }
    }
}