.search {
    position: absolute;
    top: 38px;
    input {
        border: 1px solid #f1f7f8;
        position: absolute;
        width: 350px;
        height: 40px;
        left: 610px;
        padding: 5px 12px;
        background: #d5deefd9;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
            background: #becbe2d9;
            border: 1px solid #f1f7f8;
        }
    }
}